# Get these from https://portal.hedera.com/
# Create a testnet account - it's free and instant
HEDERA_ACCOUNT_ID=0.0.9185969
HEDERA_PRIVATE_KEY=0xbfebd3cc6faf0fa8707d2b64352660a20476f5ef978c0534251afb0a40de353a
HEDERA_NETWORK=testnet
