# Get these from https://portal.hedera.com/
# Create a testnet account - it's free and instant
HEDERA_ACCOUNT_ID=0.0.9185754
HEDERA_PRIVATE_KEY=0x3ac61d07fd89230d48640c447c61aaefc9cba371ecc52775f935302f259f1751
HEDERA_NETWORK=testnet
